/*  Color Template */

.color-primary{
    color: $color-primary;
}

.color-primary-bg{
    background:$color-primary;
}

.color-second{
    color: $color-second;
}

.color-second-bg{
    background: $color-second;
}



.color-orange-bg{
    background: $color-orange;
}


.color-black-bg{
    background: $color-black;
}

.color-yellow{
    color: $color-yellow;
}

.color-yellow-bg{
    background: $color-yellow;
}
.color-red-bg{
    background: $color-red;
}
.color-space-gray-bg{
    background: $color-space-gray;
   
}

