#header{
  position: sticky;
  top: 0;
  z-index: 100;
}

// Header

.header-top{
  width: 100%;
  height: 90px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;

  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px

}

.header-item{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 15px;
  display: flex;
}


.head{
  flex-grow: 1;
  min-width: 50px;

  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.item{
  flex-grow: 1;
  min-width: 100%;
}




/*    input search-box*/
.search-box {
  background: #efefef;
  width: 300px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box img {
  width: 18px;
}

.search-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 5px;
  outline: none;
  border: 0;
}

.cart-show{

  padding-top: 5px;
  margin-left: 10px;
  width: 35px;
  height: 35px;

  border: none;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

}

.color-item{
  color:#F58C52;
}

.logo{
  width: 80px;
}


.btn-category{
  border-radius: 5px;
  background: white;
  font-size: 16px;
  text-align: center;
width: 85px;

  
}

.btn-category:hover {
  text-decoration: none;
  background-color:#009578;
  color: white;
}

// !Header