$font-baloo: 'Baloo Tamma 2', cursive;
$font-raleway: 'Raleway', Baloo Tamma 2;
$font-rubik: 'Rubik', cursive;
$font-siemreap: 'Siemreap',Rubik;
$font-moul: 'Moul', Rubik;

$color-primary: #003859;
$color-second: #00A5C4;
$color-yellow: #FFD289;
$color-red:red;
$color-space-gray:#4B4B4C;
$color-second1:#17A2B8;
$color-black: black;
$color-orange:#E56701;
